.footer {
  --pt-footer: 92px;
  padding: var(--pt-footer) 0 24px;
  text-align: center;
}

.footer__copy {
  margin: 0;
  font-size: 14px;
  line-height: 1.1;
}

@media (width <= 768px) {
  .footer {
    --pt-footer: 88px;
  }
}

@media (width <= 320px) {
  .footer {
    --pt-footer: 64px;
  }
}
