.header {
  --fs-title: 96px;
  --lh-title: 1;
  --mt-title: 90px;

  --fs-subtitle: 30px;
  --lh-subtitle: 1.2;
  --mt-subtitle: 35px;

  --mt-image: 64px;
}

.header__title {
  max-width: 720px;
  margin: var(--mt-title) auto 0;
  text-align: center;
  font-size: var(--fs-title);
  line-height: var(--lh-title);
  font-weight: 900;
}

.header__span {
  display: block;
}

.header__subtitle {
  max-width: 720px;
  text-align: center;
  margin: var(--mt-subtitle) auto 0;
  font-size: var(--fs-subtitle);
  line-height: var(--lh-subtitle);
}

.header__image {
  width: 100%;
  max-width: 984px;
  display: block;
  margin: var(--mt-image) auto 0;
}

@media (width <= 786px) {
  .header {
    --fs-title: 75px;

    --mt-subtitle: 25px;

    --mt-image: 30px;
  }
}

@media (width <= 544px) {
  .header {
    --fs-title: 60px;
    --mt-title: 65px;
  }
}

@media (width <= 320px) {
  .header {
    --fs-title: 40px;
    --mt-title: 50px;

    --fs-subtitle: 16px;
    --mt-subtitle: 16px;

    --mt-image: 40px;
  }
}
