.nav {
  --pt-logo: 34px;
}

.nav__logo {
  padding-top: var(--pt-logo);
  display: block;
  margin: auto;
}

@media (width <= 768px) {
  .nav {
    --pt-logo: 30px;
  }
}

@media (width <= 320px) {
  .nav {
    --pt-logo: 20px;
  }
}
