.places {
  --mt-places: 92px;
  margin-top: var(--mt-places);
  max-width: 830px;

  --fs-title: 54px;

  --lh-quote: 1.4;
}

.places__title {
  margin: 0;
  font-size: var(--fs-title);
  font-weight: 900;
  line-height: 1;
}

.places__quote {
  display: flex;
  flex-direction: column;
  margin: 40px 0 0 0;
  font-size: 24px;
  line-height: var(--lh-quote);
}

.places__cite {
  margin-top: 10px;
  display: block;
  margin-left: auto;
}

.places__paragraph {
  margin-top: 32px;
}

@media (width <= 768px) {
  .places {
    --fs-title: 45px;
  }
}

@media (width <= 320px) {
  .places {
    --mt-places: 64px;

    --fs-title: 32px;

    --lh-quote: 1.25;
  }
}
